*{
  box-sizing: border-box;
}

.header {
  background: grey;
  top:0;
  left: 0;
  right: 0;
  padding: 20px;
  height: auto;
  color: #FFFFFF;
  position:fixed;
  height: 30px;
  z-index: 2;
  background-image:url("app/assets/images/Burgers.jpeg");
}

.header img {
  width: 100%;
  height: auto;
}

.header-title {
  float: left;
  margin: 0;
  font-style: italic;
  text-transform: capitalize;
  z-index: 4;
}

 .header-nav{
   float: right;
   margin-top: 10px;
   text-align: center;
   z-index: 3;
  }

 .header-nav a {
   margin:0 10px;
   color:inherit;
   text-decoration: none;
   background-color: (255, 255, 255, 0,2)
  }

.main {
  position: relative;
  background: lightgray;
  padding: 70px 20px 20px;
  font-size: 16px;
  line-height: 1.4;
  z-index: 1;
}

.main p {
  text-align: justify;
}

.footer {
  background: gray;
  padding:20px
}
 body {
   margin:0;
 }
